/*

  WordPres default, this is can be overriden, just think of these as a reset file
  +

*/

 /**
  * General
  */
 
 img {
   max-width: 100% !important;
   height: auto;
   vertical-align: middle;
 }
 
 
 /**
  * WP Customisation
  */
 
 
 /* If WP-Adminbar is visible */
 body.admin-bar {
   
   #header.fixed-top {
     top: 32px;
   }
   
   .edit-link a {
     color: #FFF !important;
     font-weight: normal !important;
     text-decoration: none !important;
     
     &::before {
       content: '\270E';
       display: inline-block;
       margin-right: 5px;
     }
     
   }
 }
 
 /* WordPress Embeds */
 
 .post-thumbnail,
 .wp-video,
 .embed-responsive {
   margin: 5px 0;
   width: 100% !important;
 }
 
 
 /* Header */
 
 .navbar-brand {
   
   img {
     height: 40px;
   }
   
 }
 
 .navbar-static-top {
   margin-bottom: $grid-gutter-width;
 }
 
 
 /* Main */
 
 #main {
   margin-top: $spacer;
 }
 
 
 /* Footer */
 
 #footer {
   background-color: #FFF;
 
   p {
     margin-top: 10px;
   }
 
   .menu-item {
     &.active,
     &.current-menu-item,
     &.current_page_item {
       a {
         color: $link-hover-color;
       }
     }
   }
   
 }
 
 
 /* Sidebar */
 
 .widget-area {
   
   ul {
     list-style: none;
     padding: 0;
   }
   
 }
 
 
 /* Author */
 
 .author-avatar {
   
   .avatar {
     width: 64px;
     height: auto;
   }
 }
 
 .author-info {
   margin: 40px 0;
 
   h2, h3 {
     margin-top: 0;
   }
   
 }
 
 
 /* Posts */
 
 .sticky {
   .card {
     background-color: $gray-100;
   }
 }
 
 .entry-meta {
   font-size: small;
   margin-top: ($grid-gutter-width*0.5);
 }
 
 .single {
   .entry-content,
   .post-navigation,
   #comments-title {
     margin: $grid-gutter-width 0;
   }
 }
 
 #comments {
   margin-top: $grid-gutter-width;
 }
 
 .comment-meta {
   height: 40px;
 }
 
 .comment-reply-title {
   margin: $grid-gutter-width 0 ($grid-gutter-width*0.5)-gutter-width;
 }
 
 .commentlist {
   list-style: none;
   margin: 0 auto;
   width: 68.9%;
     
   > li.comment {
     margin: 0 0 1.625em;
     padding: 1.625em;
     position: relative;
   }
 
   .children {
     list-style: none;
     margin-top: 20px;
 
     > li.comment {
       border-top: 1px solid $gray-300;
       padding-top: 10px;
       position: relative;
     }
   }
 
   .avatar {
     width: 64px;
     height: 64px;
     border-radius: 50%;
     box-shadow: 0 1px 2px $gray-600;
     padding: 0;
     position: absolute;
     top: 0;
     left: -102px;
   }
   
 }
 
 // Classes required by Wordpress
// https://codex.wordpress.org/CSS#WordPress_Generated_Classes

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.wp-caption {
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #f0f0f0;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  padding: 0 4px 5px;
  margin: 0;
  font-size: 11px;
  line-height: 17px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  border: 0;
}

.screen-reader-text:focus {
  top: 5px;
  left: 5px;
  z-index: 100000;
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  clip: auto !important;
  clip-path: none;
  font-size: 1em;
  line-height: normal;
  color: #444;
  text-decoration: none;
  background-color: #eee;

  /* Above WP toolbar. */
}


 /**
  * Responsive Design using "mixins/_breakpoints.scss"
  */
 
 @media (max-width: breakpoint-max(sm)) {
   
   #sidebar {
     margin-top: 60px;
   }
   
 }