/*

  Footer
  +

*/

#footer-columns {
  nav {
    .nav-link {
      padding: 0;
      margin-bottom: 0.5rem;
    }
  }
}

#footer-wrapper {
  .custom-logo {
    width: auto;
    max-height: 40px;
  }
}
